$font-stack:    Dosis;
$white: #020202;
$positionX: 0;
$background-color : #F2F2EB;
$background-canvas : #F2F2EB;

@font-face {
	font-family: "Anothershabby";
	src: url("fonts/Anothershabby_trial.ttf");
}


*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height:100%;
	width: 100%;
}

body {
	font-family: $font-stack;
	color: $white;
	height:100%;
	width:100%;
	font-weight:300;
	background-color: $background-color;
}

section{
	width:100%;
	margin:auto;
	position: absolute;
	box-sizing:border-box;

	&#loader{
		background: #fff;
		z-index: 5;
		height: 100%;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&#start{
		position: fixed;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		z-index: 1;

		#videoP{
			position: fixed;
			width: 100%;
			height: 100%;
			-webkit-clip-path: polygon(82% 0, 0% 100%, 0 0);
			-moz-clip-path: polygon(82% 0, 0% 100%, 0 0);
			-ms-clip-path: polygon(82% 0, 0% 100%, 0 0);
			clip-path: polygon(82% 0, 0% 100%, 0 0);

			video{
				position: absolute;
				top: 0;
				left: 0;
				min-width: 100%;
				min-height: 100%;
			}
		}
		#videoA{
			position: fixed;
			width: 100%;
			height: 100%;
			bottom: 0;
			right: 0;
			-webkit-clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%);
			-moz-clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%);
			-ms-clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%);

			video{
				position: absolute;
				bottom: 0;
				right: 0;
				min-width: 100%;
				min-height: 100%;
			}
		}

		#title{
			position: fixed;
			width: 100%;
			height: 100%;
			opacity: 0;
			animation-name: intro;
			animation-duration: 5s;
			animation-timing-function: ease-in;
			animation-delay: 3s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
		@-webkit-keyframes intro {
			0%   { opacity: 0; }
			100% { opacity: 1; }
		}


		.text{
			position: absolute;
			bottom: 15%;
			left: 50%;
			transform: translateX(-50%);
			color: #000;
			opacity: 0;
			animation-name: intro;
			animation-duration: 5s;
			animation-timing-function: ease-in;
			animation-delay: 5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;

			p{
				font-size: 1.5rem;
				text-align: center;
			}
		}
	}

	&#canvas{
		height:80%;
		background-color: $background-canvas;
		overflow:hidden;
	}

	&#questions{
		bottom:0;
		height:20%;
		text-align: center;
		font-weight:600;
		font-size:1.5rem;

		.question{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&#reset{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.scriptButton{
	font-family: "Anothershabby", sans-serif !important;
	font-size: 2.5rem !important;
	display: block;
	margin: 50px auto 0;
	color:#000;
	background: none;
	border: 0;
	line-height: normal;
	padding: 0;
	cursor: pointer;

	&:hover{

	}
}
#resetBtn{
	position: absolute;
	left: 5%;
}
#saveBtn{
	position: absolute;
	right: 5%;
}
#questions button{

	text-decoration:none;
	-webkit-transition:0.4s all ease;
	transition:0.4s ease all;
	cursor: pointer;
	white-space: nowrap;


	font-weight:500;
	font-size:1rem;
	color: darken($white, 10%);

	letter-spacing:2px;
	text-transform:uppercase;
	display:inline-block;
	text-align:center;

	padding: 0.8rem 2rem;
	border:2px solid $white;
	border-radius:2px;
	position:relative;
	box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
	z-index:2;
	background-color: transparent;

	&:hover {
		color:$background-color;
	}
	&:focus {
		color:$background-color;
	}

	&:before {
		-webkit-transition:0.5s all ease;
		transition:0.5s all ease;
		position:absolute;
		top:0;
		left:50%;
		right:50%;
		bottom:0;
		opacity:0;
		content:'';
		background-color:$white;
		z-index:-1;
	}
	&:hover {
		&:before {
			-webkit-transition:0.5s all ease;
			transition:0.5s all ease;
			left:0;
			right:0;
			opacity:1;
		}
	}
	&:focus {
		&:before {
			-webkit-transition:0.5s all ease;
			transition:0.5s all ease;
			left:0;
			right:0;
			opacity:1;
		}
	}

	&:active{
		transform: translateY(3px);
	}

}

#questions > .question{
	button:nth-child(1), div:nth-child(1){
		margin-right:2rem;
	}
	button:nth-child(2), div:nth-child(2){
		margin-left:2rem;
	}
}



#position{
	width:1px;
	height:1px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position: absolute;

	.calque{
		position: absolute;
		height:auto;
		-webkit-transition:all 1.0s ease;
		-moz-transition:all 1.0s ease;
		-o-transition:all 1.0s ease;
		-ms-transition:all 1.0s ease;
		transition:all 1.0s ease;

		img{
			max-width:100%;
			height:auto;
		}
		opacity:0;


	}


	#vegetationA{
		top:10vh;
		left:10vw;
		width: 830px;
		transform: translate(-56%, -39%);

	}
	#vegetationP{
		top:10vh;
		left:10vw;
		width: 822px;
		transform: translate(-55%, -37%);


	}

	#animal1A{
		top:-9vh;
		left:9vw;
		width: 214px;
		transform: translate(-98%, -1%);
	}
	#animal1P{
		top:-9vh;
		left:9vw;
		width: 214px;
		transform: translate(-97%, 1%);
	}

	#motifA{
		top:9vh;
		left:-9vw;
		width: 659px;
		transform: translate(-63%, -43%);
	}
	#motifP{
		top:9vh;
		left:-9vw;
		width: 548px;
		transform: translate(-58%, -43%);
	}

	#animal2A{
		top:9vh;
		left:10vw;
		width: 348px;
		transform: translate(-16%, 44%);
	}
	#animal2P{
		top:9vh;
		left:10vw;
		width: 333px;
		transform: translate(-24%, 45%);
	}

	#fruitA{
		top:-9vh;
		left:-10vw;
		width: 121px;
		transform: translate(-214%, 121%);
	}
	#fruitP{
		top:-9vh;
		left:-10vw;
		width: 118px;
		transform: translate(-208%, 125%);
	}

	#couronneA{
		top:-20vh;
		left:0vw;
		width: 276px;
		transform: translate(-50%, -97%);
	}
	#couronneP{
		top:-20vh;
		left:0vw;
		width: 282px;
		transform: translate(-50%, -94%);
	}

	#totemA{
		top:20vh;
		left:0vw;
		width: 277px;
		transform: translate(-50%, -39%);
	}
	#totemP{
		top:20vh;
		left:0vw;
		width: 276px;
		transform: translate(-50%, -27%);
	}

	.calque.move{
		top:0px !important;
		left:0px !important;
		opacity:1;
	}
}

#infos{
	height:100%;
	width:100%;
	display:none;
	z-index: 2;
	background-color: rgba(20,20,20,.6);

	.close {
		position: absolute;
		width: 75px;
		height: 75px;
		background-color: transparent;
		top: 25px;
		right: 25px;
		cursor: pointer;
		z-index: 10;
	}

	.close .lr {
		height: 75px;
		width: 1px;
		margin-left: 35px;
		background-color: $background-color;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		z-index: 1051;
	}
	.close .lr .rl {
		height: 75px;
		width: 1px;
		background-color: $background-color;
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		z-index: 1052;
	}

	.close:hover{opacity:.3}

	.text{
		background-color: #F2F2EB;
		color: #363B5D;
		text-align: center;
		padding: 0 2%;
		width: 70%;
		height: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);

		display: flex; /* contexte sur le parent */
		flex-direction: column; /* direction d'affichage verticale */
		justify-content: center;
	}

}

#infos-btn{
	color: black;
	z-index: 1000;
	text-align: center;
	position: absolute;
	bottom: 2%;
	right: 2%;
	background-color: transparent;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	display: inline;
	cursor:pointer;
	font-weight: 600;
	border:2px solid $white;

	&:hover{
		color:grey;
		border:2px solid grey;
	}

	p{
		margin:0;
		line-height:50px;
	}
}

//LOADER

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:before, *:after {
	content: "";
}

html, body {
	height: 100%;
}

.loaderCool {
	width: 12em;
	height: 1.5em;
}
.loaderCool, .loaderCool *, .loaderCool *:before, .loaderCool *:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.thing:before, .thing:after {
	right: auto;
	width: 1.5em;
	height: 0.09375em;
	background: #f06060;
	-webkit-transform-origin: right bottom 0;
	transform-origin: right bottom 0;
}
.thing:nth-child(1):before, .thing:nth-child(1):after {
	left: 0em;
}
.thing:nth-child(1):before {
	-webkit-animation: thing 1s -0s linear infinite alternate;
	animation: thing 1s -0s linear infinite alternate;
}
.thing:nth-child(1):after {
	-webkit-animation: thing 1s -0s linear infinite alternate-reverse;
	animation: thing 1s -0s linear infinite alternate-reverse;
}
.thing:nth-child(2):before, .thing:nth-child(2):after {
	left: 0.75em;
}
.thing:nth-child(2):before {
	-webkit-animation: thing 1s -0.0625s linear infinite alternate;
	animation: thing 1s -0.0625s linear infinite alternate;
}
.thing:nth-child(2):after {
	-webkit-animation: thing 1s -0.0625s linear infinite alternate-reverse;
	animation: thing 1s -0.0625s linear infinite alternate-reverse;
}
.thing:nth-child(3):before, .thing:nth-child(3):after {
	left: 1.5em;
}
.thing:nth-child(3):before {
	-webkit-animation: thing 1s -0.125s linear infinite alternate;
	animation: thing 1s -0.125s linear infinite alternate;
}
.thing:nth-child(3):after {
	-webkit-animation: thing 1s -0.125s linear infinite alternate-reverse;
	animation: thing 1s -0.125s linear infinite alternate-reverse;
}
.thing:nth-child(4):before, .thing:nth-child(4):after {
	left: 2.25em;
}
.thing:nth-child(4):before {
	-webkit-animation: thing 1s -0.1875s linear infinite alternate;
	animation: thing 1s -0.1875s linear infinite alternate;
}
.thing:nth-child(4):after {
	-webkit-animation: thing 1s -0.1875s linear infinite alternate-reverse;
	animation: thing 1s -0.1875s linear infinite alternate-reverse;
}
.thing:nth-child(5):before, .thing:nth-child(5):after {
	left: 3em;
}
.thing:nth-child(5):before {
	-webkit-animation: thing 1s -0.25s linear infinite alternate;
	animation: thing 1s -0.25s linear infinite alternate;
}
.thing:nth-child(5):after {
	-webkit-animation: thing 1s -0.25s linear infinite alternate-reverse;
	animation: thing 1s -0.25s linear infinite alternate-reverse;
}
.thing:nth-child(6):before, .thing:nth-child(6):after {
	left: 3.75em;
}
.thing:nth-child(6):before {
	-webkit-animation: thing 1s -0.3125s linear infinite alternate;
	animation: thing 1s -0.3125s linear infinite alternate;
}
.thing:nth-child(6):after {
	-webkit-animation: thing 1s -0.3125s linear infinite alternate-reverse;
	animation: thing 1s -0.3125s linear infinite alternate-reverse;
}
.thing:nth-child(7):before, .thing:nth-child(7):after {
	left: 4.5em;
}
.thing:nth-child(7):before {
	-webkit-animation: thing 1s -0.375s linear infinite alternate;
	animation: thing 1s -0.375s linear infinite alternate;
}
.thing:nth-child(7):after {
	-webkit-animation: thing 1s -0.375s linear infinite alternate-reverse;
	animation: thing 1s -0.375s linear infinite alternate-reverse;
}
.thing:nth-child(8):before, .thing:nth-child(8):after {
	left: 5.25em;
}
.thing:nth-child(8):before {
	-webkit-animation: thing 1s -0.4375s linear infinite alternate;
	animation: thing 1s -0.4375s linear infinite alternate;
}
.thing:nth-child(8):after {
	-webkit-animation: thing 1s -0.4375s linear infinite alternate-reverse;
	animation: thing 1s -0.4375s linear infinite alternate-reverse;
}
.thing:nth-child(9):before, .thing:nth-child(9):after {
	left: 6em;
}
.thing:nth-child(9):before {
	-webkit-animation: thing 1s -0.5s linear infinite alternate;
	animation: thing 1s -0.5s linear infinite alternate;
}
.thing:nth-child(9):after {
	-webkit-animation: thing 1s -0.5s linear infinite alternate-reverse;
	animation: thing 1s -0.5s linear infinite alternate-reverse;
}
.thing:nth-child(10):before, .thing:nth-child(10):after {
	left: 6.75em;
}
.thing:nth-child(10):before {
	-webkit-animation: thing 1s -0.5625s linear infinite alternate;
	animation: thing 1s -0.5625s linear infinite alternate;
}
.thing:nth-child(10):after {
	-webkit-animation: thing 1s -0.5625s linear infinite alternate-reverse;
	animation: thing 1s -0.5625s linear infinite alternate-reverse;
}
.thing:nth-child(11):before, .thing:nth-child(11):after {
	left: 7.5em;
}
.thing:nth-child(11):before {
	-webkit-animation: thing 1s -0.625s linear infinite alternate;
	animation: thing 1s -0.625s linear infinite alternate;
}
.thing:nth-child(11):after {
	-webkit-animation: thing 1s -0.625s linear infinite alternate-reverse;
	animation: thing 1s -0.625s linear infinite alternate-reverse;
}
.thing:nth-child(12):before, .thing:nth-child(12):after {
	left: 8.25em;
}
.thing:nth-child(12):before {
	-webkit-animation: thing 1s -0.6875s linear infinite alternate;
	animation: thing 1s -0.6875s linear infinite alternate;
}
.thing:nth-child(12):after {
	-webkit-animation: thing 1s -0.6875s linear infinite alternate-reverse;
	animation: thing 1s -0.6875s linear infinite alternate-reverse;
}
.thing:nth-child(13):before, .thing:nth-child(13):after {
	left: 9em;
}
.thing:nth-child(13):before {
	-webkit-animation: thing 1s -0.75s linear infinite alternate;
	animation: thing 1s -0.75s linear infinite alternate;
}
.thing:nth-child(13):after {
	-webkit-animation: thing 1s -0.75s linear infinite alternate-reverse;
	animation: thing 1s -0.75s linear infinite alternate-reverse;
}
.thing:nth-child(14):before, .thing:nth-child(14):after {
	left: 9.75em;
}
.thing:nth-child(14):before {
	-webkit-animation: thing 1s -0.8125s linear infinite alternate;
	animation: thing 1s -0.8125s linear infinite alternate;
}
.thing:nth-child(14):after {
	-webkit-animation: thing 1s -0.8125s linear infinite alternate-reverse;
	animation: thing 1s -0.8125s linear infinite alternate-reverse;
}
.thing:nth-child(15):before, .thing:nth-child(15):after {
	left: 10.5em;
}
.thing:nth-child(15):before {
	-webkit-animation: thing 1s -0.875s linear infinite alternate;
	animation: thing 1s -0.875s linear infinite alternate;
}
.thing:nth-child(15):after {
	-webkit-animation: thing 1s -0.875s linear infinite alternate-reverse;
	animation: thing 1s -0.875s linear infinite alternate-reverse;
}
.thing:nth-child(16):before, .thing:nth-child(16):after {
	left: 11.25em;
}
.thing:nth-child(16):before {
	-webkit-animation: thing 1s -0.9375s linear infinite alternate;
	animation: thing 1s -0.9375s linear infinite alternate;
}
.thing:nth-child(16):after {
	-webkit-animation: thing 1s -0.9375s linear infinite alternate-reverse;
	animation: thing 1s -0.9375s linear infinite alternate-reverse;
}
@-webkit-keyframes thing {
	0% {
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	100% {
		-webkit-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
}
@keyframes thing {
	0% {
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	100% {
		-webkit-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
}


@media print {
	section#questions{
		display: none;
	}
	section#canvas{
		height: 100%;
		-ms-print-color-adjust: exact;
		-moz-print-color-adjust: exact;
		-webkit-print-color-adjust: exact;
	}
	#infos-btn {
		display: none;
	}

	#position #vegetationP {
		width: 750px;
		transform: translate(-55%, -37%);
	}
	#reset{
		display: none;
	}
}
