body {
  font: 100% Dosis;
  color: #F2F2EB;
  height: 100%;
  width: 100%;
  font-weight: 300;
  background-color: #363B5D; }

section {
  width: 100%;
  margin: auto;
  position: absolute;
  box-sizing: border-box; }
  section#start {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1; }
    section#start #videoP {
      position: fixed;
      width: 100%;
      height: 100%;
      -webkit-clip-path: polygon(82% 0, 0% 100%, 0 0);
      clip-path: polygon(82% 0, 0% 100%, 0 0); }
      section#start #videoP video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%; }
    section#start #videoA {
      position: fixed;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      -webkit-clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(82% 0, 100% 0, 100% 100%, 0% 100%); }
      section#start #videoA video {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%; }
    section#start #title {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation-name: intro;
      animation-duration: 6s;
      animation-timing-function: ease-in;
      animation-delay: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
@-webkit-keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    section#start .text {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: #000;
      opacity: 0;
      animation-name: intro;
      animation-duration: 6s;
      animation-timing-function: ease-in;
      animation-delay: 4s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
      section#start .text p {
        font-size: 25px; }
      section#start .text button {
        display: block;
        margin: 50px auto 0; }
  section#canvas {
    height: 80%;
    background-color: #e5d39a;
    overflow: hidden; }
  section#questions {
    bottom: 0;
    height: 20%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem; }
    section#questions .question {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

button, #reset, #save {
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  border: 0;
  margin: 1rem;
  background-color: #363B5D;
  color: white;
  border: 1px solid #F2F2EB;
  cursor: pointer; }
  button:hover, #reset:hover, #save:hover {
    background-color: #F2F2EB;
    color: #363B5D;
    border: 1px solid #363B5D; }

#position {
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  position: absolute; }
  #position .calque {
    position: absolute;
    /* background-color:$white; */
    height: auto; }
    #position .calque img {
      max-width: 100%;
      height: auto; }
  #position #vegetationA {
    width: 830px;
    transform: translate(-56%, -39%); }
  #position #vegetationP {
    width: 822px;
    transform: translate(-55%, -37%); }
  #position #animal1A {
    width: 214px;
    transform: translate(-98%, -1%); }
  #position #animal1P {
    width: 214px;
    transform: translate(-97%, 1%); }
  #position #motifA {
    width: 659px;
    transform: translate(-63%, -43%); }
  #position #motifP {
    width: 548px;
    transform: translate(-58%, -43%); }
  #position #animal2A {
    width: 348px;
    transform: translate(-16%, 44%); }
  #position #animal2P {
    width: 333px;
    transform: translate(-24%, 45%); }
  #position #fruitA {
    width: 121px;
    transform: translate(-214%, 121%); }
  #position #fruitP {
    width: 118px;
    transform: translate(-208%, 125%); }
  #position #couronneA {
    width: 276px;
    transform: translate(-50%, -97%); }
  #position #couronneP {
    width: 282px;
    transform: translate(-50%, -94%); }
  #position #totemA {
    width: 277px;
    transform: translate(-50%, -39%); }
  #position #totemP {
    width: 276px;
    transform: translate(-50%, -27%); }

#infos {
  height: 100%;
  width: 100%;
  display: none;
  z-index: 2;
  background-color: rgba(20, 20, 20, 0.6); }
  #infos .close {
    z-index: 1000;
    position: fixed; }
  #infos .close {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer; }
  #infos .close .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #F2F2EB;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051; }
  #infos .close .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #F2F2EB;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052; }
  #infos .close:hover {
    opacity: .3; }
  #infos .text {
    background-color: #F2F2EB;
    color: #363B5D;
    text-align: center;
    padding: 5%;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#infos-btn {
  color: black;
  z-index: 1000;
  text-align: center;
  position: absolute;
  bottom: 2%;
  right: 2%;
  background-color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
  font-weight: 600; }
  #infos-btn:hover {
    opacity: .7; }

@media print {
  section#questions {
    display: none; }

  section#canvas {
    height: 100%;
    -webkit-print-color-adjust: exact; }

  #infos-btn {
    display: none; }

  #position #vegetationP {
    width: 750px;
    transform: translate(-55%, -37%); } }

/*# sourceMappingURL=style.css.map */
